@import 'normalize.css';

:root {
    --white-color: #fff;
    --black-color: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'SFD', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// fonts embedded
@font-face {
    font-family: SFD;
    src: url('/assets/fonts/SFD-Medium.woff2');
    font-weight: 400;
}

@font-face {
    font-family: SFD;
    src: url('/assets/fonts/SFD-Bold.woff2');
    font-weight: 700;
}
