.wrapper {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.title {
    font-size: 1.1rem;
    color: #888;
    display: block;
    margin-bottom: 8px;
}

.content-list {
    margin-left: 16px;
    text-align: justify;
}

.content-item {
    list-style: disc;
    color: red;
    margin-bottom: 15px;

    a {
        color: var(--text-color);
        font-weight: 700;
    }

    span {
        margin-left: 10px;
        font-size: 13px;
        color: #888;
    }
}
