.wrapper {
    font-size: 1.2rem;
    background-color: var(--black-color);
}

.toolbar-wrapper {
    display: flex;
    justify-content: space-between;
}

.toolbar-item-wrapper {
    display: flex;
}

.toolbar-item {
    color: rgb(255, 0, 0);

    + .toolbar-item {
        margin-left: 3px;
    }
}

.toolbar-item-link {
    background-image: url(https://kenh14cdn.com/web_images/toolbar-topic-icon.png);
    background-position: left 6px center;
    background-repeat: no-repeat;
    color: var(--white-color);
    font-weight: 700;
    padding: 5.5px 10px 5.5px 20px;
    display: inline-block;
}
