.wrapper {
    padding: 4px 7px;
    display: flex;
    border-left: 0.5px solid #252525;
    border-right: 0.5px solid #252525;
}

.search-input {
    font-size: 1rem;
    width: 154px;
    border: none;
    outline: none;
    color: var(--white-color);
    padding-right: 6px;
    background-color: var(--black-color);
}

.search-icon {
    color: var(--white-color);
    padding: 2px;
    cursor: pointer;
}
