.wrapper {
    height: 40px;
    width: 100%;
    font-size: 1.5rem;
    transition: 0.3s;
    left: 0;
    z-index: 2;
    position: relative;
    top: 0;
    background-color: #a70e1a;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
}

.navbar-list {
    display: flex;
}

.navbar-item {
    white-space: nowrap;
    height: 40px;
    display: block;
    cursor: pointer;

    &:hover {
        background-color: #980d17;
    }
}

.black {
    background-color: black;
    position: fixed;

    .navbar-item {
        &:hover {
            background-color: #d5d5d57a;
        }
    }
}

.navbar-item-link {
    display: block;
    height: 40px;
    line-height: 40px;
    color: var(--white-color);
    padding: 0 6px;
}

.navbar-item.home {
    padding: 0 12px;

    &:hover .navbar-item-link.home {
        background: none;
    }
}

.navbar-item-link.home {
    width: 12px;
    padding: 0;
    background: url(https://kenh14cdn.com/web_images/sprite-k14.20.png) -494px 12px no-repeat;
    text-indent: -99999px;
    overflow: hidden;
}

.navbar-item.expand-icon {
    padding: 0 12px;
    margin-bottom: -2px;
}
