.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0;
    a {
        color: var(--text-color);
        text-align: justify;
    }
}

.content {
    color: var(--subtext-color);
    text-align: justify;
}
