.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0;
    a {
        color: var(--text-color);
        text-align: justify;

        &:hover {
            opacity: 0.8;
        }
    }
}

.content {
    color: var(--subtext-color);
    text-align: justify;
}
