.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 10px 0;

    a {
        color: var(--text-color);
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3; /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

        &:hover {
            opacity: 0.8;
        }
    }
}

.content {
    color: var(--subtext-color);
    text-align: justify;
}
