.wrapper {
    position: relative;
    margin-top: 120px;
}

.title {
    font-size: 26px;
    background-color: #e7e6e6;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 1;
    padding: 20px;
    font-weight: 700;
    color: red;

    p {
        display: inline;
        color: var(--text-color);
        margin-left: 10px;
    }
}

.tag {
    position: absolute;
    top: -110px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #e7e6e6;
    padding-top: 15px;
}

.tag-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    padding-left: 15px;
    border-left: 5px solid red;
    height: 26px;
    line-height: 26px;
}

.tag-btn {
    width: 180px;
    height: 40px;
    background-image: linear-gradient(rgba(232, 232, 232, 0) 10%, #c8c8c8 90%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 700;
    color: red;
    border: 1px solid #e7e6e6;
    cursor: pointer;

    &:hover {
        background-image: none;
        background-image: linear-gradient(rgba(131, 131, 131, 0) 10%, #dadada 90%);
    }

    p {
        text-transform: uppercase;
        color: var(--text-color);
    }
}
